footer {
    position: relative;
    height: 50px;
    clear: both;
    padding: 1% 10%;
    background-color: var(--darkerGreen);
    color: var(--lighterGreen);
    text-align: center;
    font-size: 12px;
}

*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    line-height: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0)
}

::-webkit-scrollbar-thumb {
    background: #357400;
    border: 2px solid #123A00;
    border-radius: 45px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4BA500;
  }

  ::-webkit-scrollbar-corner {
      background: rgba(0, 0, 0, 0);
  }