@import url('./saved-palette.css');

.home-btn-div {
    text-align: center;
    z-index: 1000;
}

.site-btn:hover,.site-btn:visited,.site-btn:focus {
    text-decoration: none !important;
}

.site-btn:hover {
    color: var(--darkerPink);
    transform: scale(1.1);
}