@import url('./saved-palette.css');

.header-text {
    margin-top: 3em;
    color: white;
    font-size: 4em;
    font-weight: 600;
}

.site-btn {
    margin: 4px 4px;
}

.site-scroll {
    scroll-behavior: smooth;
}