@import url('./saved-palette.css');

h1.section-header {
    font-size: 180%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
        sans-serif;
    text-align: center;
}

.skill-section {
    overflow: auto;
    height: 100vh;
}

h2 {
    font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1rem;
}

li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
}