:root {
    --darkerGreen: #123A00;
    --darkGreen: #357400;
    --mediumGreen: #4BA500;
    --lightGreen: #74D027;
    --lighterGreen: #C4E9A6;

    --darkerPink: #2A000D;
    --darkPink: #750023;
    --mediumPink: #A60032;
    --lightPink: #D0285B;
    --lighterPink: #E9A7BB;
}