:root {
    --darkerGreen: rgb(13, 41, 0);
    --darkGreen: #2c6300;
    --mediumGreen: rgb(60, 134, 0);
    --lightGreen: rgb(99, 182, 31);
    --lighterGreen: #C4E9A6;

    --darkerPink: #2A000D;
    --darkPink: #750023;
    --mediumPink: #A60032;
    --lightPink: #D0285B;
    --lighterPink: #E9A7BB;
}