:root {
    --darkerGreen: #123A00;
    --darkGreen: #295c00;
    --mediumGreen: rgb(60, 134, 0);
    --lightGreen: rgb(105, 194, 32);
    --lighterGreen: #C4E9A6;

    --darkerPink: #2A000D;
    --darkPink: #750023;
    --mediumPink: #A60032;
    --lightPink: #D0285B;
    --lighterPink: #E9A7BB;
}