:root {
    --darkerGreen: #40800B;
    --darkGreen: #5CA122;
    --mediumGreen: #78BC3F;
    --lightGreen: #9BDA67;
    --lighterGreen: #BDEC97;

    --darkerPink: #800B2F;
    --darkPink: #A22249;
    --mediumPink: #BC3F65;
    --lightPink: #DB678A;
    --lighterPink: #EC97B1;
}